.loginFormDiv {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.loginFormDiv > form {
    width: 60%;
}

.loginButton {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}